
nav {
    background-color: darkgrey;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 24px;
    height: 48px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
  }
  
  nav li {
    flex: 1;
    text-align: center;
    line-height: 48px;
    position: relative;
  }
  
  .button {
    display: block;
    color: lightgrey;
    text-decoration: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 0px black;
  }
  
  .button:hover {
    color: #F8C8DC;
    background-color: lightgrey;
  }
  
  nav li:nth-child(1) .button {
    border: 2px solid #F8C8DC;
  }
  
  nav li:nth-child(2) .button {
    border: 2px solid #F8C8DC;
  }
  
  nav li:nth-child(3) .button {
    border: 2px solid #F8C8DC;
  }

  body {
    background-color: #F8C8DC;
  }
        #anime-div
        {
            position: relative;
            height: 90px;
            width: 140px;
            overflow:visible;
            margin-bottom: 20px;
            border: 1px solid #111;
        }
        #anime-div img {
                display: block;
                max-height: 90px;
                max-width: 140px;
                height: auto;
                width: auto;
              
        }

        .lower-box {
            align-self: center;
            align-items: center;
            align-content:center;
            margin-left:auto;
            margin-right:auto;
            flex-wrap:wrap;
            padding:10px;
            display: flex;
            flex: 50%;
        }
        .column2 ul li {
            font-style: italic;
        }
        .container{
            height: 300px;
            width: 1500;
        }
        .hero-photo{
            hieght: 400;
            width: 50%;
            display: flex;
            flex: 50%;
            padding: 5px;
            flex-wrap: wrap;
            margin-top: auto;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            align-content: center;
        }
        .row {
            display: flex;
        }

        .column {
            flex: 33.33%;
            padding: 5px;
        }
        .row2 {
            display: flex;
        }
        .column2 {
            flex: 50%;
            padding: 5px;
            border: 3px;
            border-style: solid;
            border-color:#333;
            font-size: 12;
        }
        footer{
            text-align: center;
            font-weight: bold;
            font-size: large;
        }
        h1 {
            text-align: center;
        }